<p-toast></p-toast>
<p-fieldset *ngIf="'Preinscription'|showable" legend="Affichage des informations - Utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'Preinscription'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+preinscriptionSrv.getRoutePrefix(),preinscription.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'Preinscription'|clonable" [routerLink]="['/'+preinscriptionSrv.getRoutePrefix(),preinscription.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'Preinscription'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removePreinscription()"><i
        class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="preinscription.id">
        <table class="table">
                                    <tr>
                <th>Idfiliere</th>
                <td>{{ preinscription.idfiliere }}</td>
            </tr>
                                    <tr>
                <th>Idanneeacad</th>
                <td>{{ preinscription.idanneeacad }}</td>
            </tr>
                                    <tr>
                <th>Idniveau</th>
                <td>{{ preinscription.idniveau }}</td>
            </tr>
                                    <tr>
                <th>Cni</th>
                <td>{{ preinscription.cni }}</td>
            </tr>
                                    <tr>
                <th>Idtypeadmission</th>
                <td>{{ preinscription.idtypeadmission }}</td>
            </tr>
                                    <tr>
                <th>Ine</th>
                <td>{{ preinscription.ine }}</td>
            </tr>
                                    <tr>
                <th>Passage</th>
                <td>{{ preinscription.passage }}</td>
            </tr>
                                    <tr>
                <th>Prenometudiant</th>
                <td>{{ preinscription.prenometudiant }}</td>
            </tr>
                                    <tr>
                <th>Nometudiant</th>
                <td>{{ preinscription.nometudiant }}</td>
            </tr>
                                    <tr>
                <th>Datenaiss</th>
                <td>{{ preinscription.datenaiss ? preinscription.datenaiss|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>Lieunaiss</th>
                <td>{{ preinscription.lieunaiss }}</td>
            </tr>
                                    <tr>
                <th>Email</th>
                <td>{{ preinscription.email }}</td>
            </tr>
                                    <tr>
                <th>Tel</th>
                <td>{{ preinscription.tel }}</td>
            </tr>
                                    <tr>
                <th>Datenotif</th>
                <td>{{ preinscription.datenotif ? preinscription.datenotif|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>Datedelai</th>
                <td>{{ preinscription.datedelai ? preinscription.datedelai|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>Estinscrit</th>
                <td>{{ preinscription.estinscrit ? 'Yes' : 'No' }}</td>
            </tr>
                                    <tr>
                <th>CodeOperateur</th>
                <td>{{ preinscription.codeOperateur }}</td>
            </tr>
                                    <tr>
                <th>DatePaiement</th>
                <td>{{ preinscription.datePaiement }}</td>
            </tr>
                                    <tr>
                <th>NumeroTransaction</th>
                <td>{{ preinscription.numeroTransaction }}</td>
            </tr>
                                    <tr>
                <th>Montant</th>
                <td>{{ preinscription.montant }}</td>
            </tr>
                    </table>
        <p-toolbar>
          <button *ngIf="'Preinscription'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+preinscriptionSrv.getRoutePrefix(),preinscription.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'Preinscription'|clonable" [routerLink]="['/'+preinscriptionSrv.getRoutePrefix(),preinscription.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'Preinscription'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removePreinscription()"><i
              class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'Preinscription'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">
      
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
