{% extends 'base.html.twig' %}

{% block title %}New DocumentPreinscription{% endblock %}

{% block body %}
    <h1>Create new DocumentPreinscription</h1>

    {{ include('document_preinscription/_form.html.twig') }}

    <a href="{{ path('document_preinscription_index') }}">back to list</a>
{% endblock %}
