
<p-toast></p-toast>
<!-- form paramFraisEncadrement info -->
<form *ngIf="'ParamFraisEncadrement'|editable" class="form" role="form" #paramFraisEncadrementForm="ngForm" autocomplete="off" (ngSubmit)="updateParamFraisEncadrement()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="paramFraisEncadrementForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="fraisAnnuel">FraisAnnuel</label>
                    <input [(ngModel)]="paramFraisEncadrement.fraisAnnuel" class="form-control" type="text" name="fraisAnnuel" id="fraisAnnuel">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="paramFraisEncadrementForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form paramFraisEncadrement info -->