
<p-toast></p-toast>
<!-- form bourse_etudiant info -->
<form *ngIf="'BourseEtudiant'|editable" class="form" role="form" #bourse_etudiantForm="ngForm" autocomplete="off" (ngSubmit)="updateBourseEtudiant()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="bourse_etudiantForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="prenoms">Prenoms</label>
                    <input [(ngModel)]="bourse_etudiant.prenoms" class="form-control" type="text" name="prenoms" id="prenoms">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nom">Nom</label>
                    <input [(ngModel)]="bourse_etudiant.nom" class="form-control" type="text" name="nom" id="nom">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="dateNaissance">DateNaissance</label>
                    <input [(ngModel)]="bourse_etudiant.dateNaissance" class="form-control" type="text" name="dateNaissance" id="dateNaissance">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="lieuNaissance">LieuNaissance</label>
                    <input [(ngModel)]="bourse_etudiant.lieuNaissance" class="form-control" type="text" name="lieuNaissance" id="lieuNaissance">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="tauxBourse">TauxBourse</label>
                    <input [(ngModel)]="bourse_etudiant.tauxBourse" class="form-control" type="text" name="tauxBourse" id="tauxBourse">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="montantBourse">MontantBourse</label>
                    <input [(ngModel)]="bourse_etudiant.montantBourse" class="form-control" type="text" name="montantBourse" id="montantBourse">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="mois">Mois</label>
                    <input [(ngModel)]="bourse_etudiant.mois" class="form-control" type="text" name="mois" id="mois">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="annee">Annee</label>
                    <input [(ngModel)]="bourse_etudiant.annee" class="form-control" type="text" name="annee" id="annee">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="bourse_etudiantForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form bourse_etudiant info -->