
<p-toast></p-toast>
<!-- form etat_reclamation_bourse info -->
<form *ngIf="'EtatReclamationBourse'|editable" class="form" role="form" #etat_reclamation_bourseForm="ngForm" autocomplete="off" (ngSubmit)="updateEtatReclamationBourse()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="etat_reclamation_bourseForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelle">Libelle</label>
                    <input [(ngModel)]="etat_reclamation_bourse.libelle" class="form-control" type="text" name="libelle" id="libelle">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="codeCouleur">CodeCouleur</label>
                    <input [(ngModel)]="etat_reclamation_bourse.codeCouleur" class="form-control" type="text" name="codeCouleur" id="codeCouleur">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="description">Description</label>
                    <input [(ngModel)]="etat_reclamation_bourse.description" class="form-control" type="text" name="description" id="description">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="etat_reclamation_bourseForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form etat_reclamation_bourse info -->