<p-toast></p-toast>
<p-fieldset *ngIf="'Anneeacad'|showable" legend="Affichage des informations - Utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'Anneeacad'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+anneeacadSrv.getRoutePrefix(),anneeacad.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'Anneeacad'|clonable" [routerLink]="['/'+anneeacadSrv.getRoutePrefix(),anneeacad.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'Anneeacad'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeAnneeacad()"><i
        class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="anneeacad.id">
        <table class="table">
                                    <tr>
                <th>Codeanneeacad</th>
                <td>{{ anneeacad.codeanneeacad }}</td>
            </tr>
                                    <tr>
                <th>Libelleanneeacad</th>
                <td>{{ anneeacad.libelleanneeacad }}</td>
            </tr>
                                    <tr>
                <th>Encours</th>
                <td>{{ anneeacad.encours ? 'Yes' : 'No' }}</td>
            </tr>
                                    <tr>
                <th>Dateouvert</th>
                <td>{{ anneeacad.dateouvert ? anneeacad.dateouvert|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>Dateferm</th>
                <td>{{ anneeacad.dateferm ? anneeacad.dateferm|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>NbreInscrits</th>
                <td>{{ anneeacad.nbreInscrits }}</td>
            </tr>
                    </table>
        <p-toolbar>
          <button *ngIf="'Anneeacad'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+anneeacadSrv.getRoutePrefix(),anneeacad.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'Anneeacad'|clonable" [routerLink]="['/'+anneeacadSrv.getRoutePrefix(),anneeacad.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'Anneeacad'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeAnneeacad()"><i
              class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'Anneeacad'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">
      
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
