
<p-toast></p-toast>
<!-- form specialite info -->
<form *ngIf="'Specialite'|editable" class="form" role="form" #specialiteForm="ngForm" autocomplete="off" (ngSubmit)="updateSpecialite()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="specialiteForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="codespecialite">Codespecialite</label>
                    <input [(ngModel)]="specialite.codespecialite" class="form-control" type="text" name="codespecialite" id="codespecialite">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libellespecialite">Libellespecialite</label>
                    <input [(ngModel)]="specialite.libellespecialite" class="form-control" type="text" name="libellespecialite" id="libellespecialite">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="description">Description</label>
                    <input [(ngModel)]="specialite.description" class="form-control" type="text" name="description" id="description">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="langueutilisee">Langueutilisee</label>
                    <input [(ngModel)]="specialite.langueutilisee" class="form-control" type="text" name="langueutilisee" id="langueutilisee">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="typeaccreditation">Typeaccreditation</label>
                    <input [(ngModel)]="specialite.typeaccreditation" class="form-control" type="text" name="typeaccreditation" id="typeaccreditation">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="codeSigesrSpecialite">CodeSigesrSpecialite</label>
                    <input [(ngModel)]="specialite.codeSigesrSpecialite" class="form-control" type="text" name="codeSigesrSpecialite" id="codeSigesrSpecialite">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="specialiteForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form specialite info -->