
<p-toast></p-toast>
<!-- form demande_document info -->
<form *ngIf="'DemandeDocument'|editable" class="form" role="form" #demande_documentForm="ngForm" autocomplete="off" (ngSubmit)="updateDemandeDocument()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="demande_documentForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="type">Type</label>
                    <input [(ngModel)]="demande_document.type" class="form-control" type="text" name="type" id="type">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="intitule">Intitule</label>
                    <input [(ngModel)]="demande_document.intitule" class="form-control" type="text" name="intitule" id="intitule">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="demande_documentForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form demande_document info -->