{# empty Twig template #}
Bonjour <b>{{user.prenom}} {{user.nom}}</b> <br>
<span>Bienvenue sur <b>GPE</b>, la première plateforme de gestion du parcours de l'étudiant.</span><br>
<span>Vous avez demandé la creation d'un compte étudiant, merci de confirmer votre mail en cliquant 
    <a href="{{link}}">ici</a>
</span>.<br>

<span>Nous vous souhaitons une excellente experience avec GPE et comptons sur vous pour que la plateforme soit votre meilleure compagnonne.</span>
