
<p-toast></p-toast>
<!-- form anneeacad info -->
<form *ngIf="'Anneeacad'|editable" class="form" role="form" #anneeacadForm="ngForm" autocomplete="off" (ngSubmit)="updateAnneeacad()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="anneeacadForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="codeanneeacad">Codeanneeacad</label>
                    <input [(ngModel)]="anneeacad.codeanneeacad" class="form-control" type="text" name="codeanneeacad" id="codeanneeacad">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelleanneeacad">Libelleanneeacad</label>
                    <input [(ngModel)]="anneeacad.libelleanneeacad" class="form-control" type="text" name="libelleanneeacad" id="libelleanneeacad">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="encours">Encours</label>
                    <input [(ngModel)]="anneeacad.encours" class="form-control" type="text" name="encours" id="encours">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="dateouvert">Dateouvert</label>
                    <input [(ngModel)]="anneeacad.dateouvert" class="form-control" type="text" name="dateouvert" id="dateouvert">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="dateferm">Dateferm</label>
                    <input [(ngModel)]="anneeacad.dateferm" class="form-control" type="text" name="dateferm" id="dateferm">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nbreInscrits">NbreInscrits</label>
                    <input [(ngModel)]="anneeacad.nbreInscrits" class="form-control" type="text" name="nbreInscrits" id="nbreInscrits">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="anneeacadForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form anneeacad info -->