Bonjour ,
<br><br>
<h3>Vous avez indiqué avoir oublié votre mot de passe dans l'aplication espace étudiant.</h3>
<h3>Merci de cliquer sur le lien suivant: <a href="{{link}}">ici</a></h3>
<br>
<h3>
    Cordialement, Université de Thiès.
</h3>