Bonjour ,
<br><br>
<h3>Bonjour {{user.prenom}} {{user.nom}},<br>
    Vous avez indiqué avoir oublié votre mot de passe dans l'aplication espace étudiant.</h3>
<h3>Merci de cliquer sur le lien suivant: <a href="{{link}}">ici</a> pour changer le mot de passe</h3>
<h3>Le lien est valable pour 48 heures (2 jours).</h3>
<h3>Si vous n'aviez pas demandé cette réinitialisation, vous pouvez ignorer ce mail.</h3>
<br>
<h3>
    Cordialement, Université de Thiès.
</h3>